* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #16133D;
}

.header__container {
    padding: 25px 135px;
    border-bottom: 1px solid #EFEEF3;
}

.header__logo {
    max-width: 30px;
    color: white;
}

.header__title {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 35px;
    color: #16133D;
}

.header__flex-box {
    display: flex;
    gap: 12px;
}

.services__flex-box {
    display: flex;
    gap: 30px;
}

.services__container {
    margin: 100px 135px;
}

.services__subtitle {
    font-size: 16px;
    line-height: 21px;
    color: #7690A8;
}

.services__title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    margin: 15px 0 40px;
}

.services__card-box {
    margin: 40px;
}

.services__card {
    max-width: 370px;
    border: 1px solid #E5EAF4;
    border-radius: 8px;
}

.services__card-icon-1 {
    cursor: pointer;
}

.services__card-icon-1:hover {
   color:  #007FFC;
    
}

.services__card-icon-2:hover {
    color:  #52C29D;
     
 }

 .services__card-icon-3:hover {
    color:   #007FFC;
     
 }



.services__card-title {
    font-size: 24px;
    line-height: 21px;
    letter-spacing: 0.2px;
    margin: 30px 0 15px;
}

.services__card-text {
    font-size: 16px;
    line-height: 28px;
    max-width: 275px;
    margin-bottom: 30px;
}

.services__card-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3DB370;
    
}

.footer__container {
    background: #16133D;
    padding: 40px 135px;

}

.footer__flex-box-1 {
    display: flex;
    gap: 12px;
}

.footer__title {
    color: #FFFFFF;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 35px;
    padding-bottom: 40px;
}

.footer__flex-box-2 {
    display: flex;
    gap: 10px;
}

.footer__icon-box {
    width: 38px;
    height: 38px;
    border: 1px solid #16133D;
    background: #EFEEF3;
    border-radius: 5px;
    /* position: relative; */
   /*  background-image: url(/Home-Work-21/img/socials.svg); */
    cursor: pointer;
}

/* .footer__icon-box:hover {
    background-color: green;
} */

.footer__icons {
    position: absolute;
    cursor: pointer;
}

.footer__icons:hover {
    color: #3DB370;
}